# Build outputs
bin/
obj/
publish/
_archive/

# IDE
.vs/
*.user
*.suo

# Runtime / binaries
*.dll
*.exe
*.pdb
*.log

# Images (optional if you don't want them tracked)
kagawarang1.png
maragusan logo1.png

# Scripts (optional)
publish-win.ps1

# WebView / cache
**/WebView2/

# OS
Thumbs.db
.DS_Store