# Build outputs
bin/
obj/
publish/
build/

# Logs
*.log

# Runtime / archives
_archive/
*.tmp

# Windows
Thumbs.db

# Visual Studio / .NET
.vs/
*.user
*.suo

# WebView2 cache (VERY IMPORTANT in your case)
**/WebView2/

# Output executables
*.exe
*.dll